@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('Images/inco logo 2.png');
	 background-repeat: no-repeat;
	background-position: right;
}

.form{
	z-index: 1;
	font-family: "Poppins", sans-serif;
	position: left;
	width: 320px;
	text-align: center;
}

.form i{
	z-index: 1;
	color: #111;
	font-size: 65px;
	margin-bottom: 30px;
}

.form .signup-form{
	display: none;
}

.form .user-input{
	width: 320px;
	height: 55px;
	margin-bottom: 30px;
	outline: none;
	border: none;
	background: rgba(255, 255, 255, 0.7);
	color: #111;
	font-size: 18px;
	text-align: center;
	border-radius: 5px;
	transition: 0.5s;
	transition-property: border-left, border-right, box-shadow;
}

.form .user-input:hover, .form .user-input:focus, .form .user-input:active{
	border-left: solid 10px #111;
	border-right: solid 10px #111;
	box-shadow: 0 0 150px #fff;
}

.form .options-01{
	margin-bottom: 50px;
}

.form .options-01 input{
	width: 15px;
	height: 15px;
	margin-right: 5px;
}

.form .options-01 .remember-me{
	color: #111;
	font-size: 16px;
	font-weight: bold;
	display: flex;
	align-items: center;
	float: left;
	cursor: pointer;
}

.form .options-01 a{
	color: black;
	font-size: 14px;
	font-style: italic;
	font-weight: bold;
	float: right;
}

.form .btn{
	outline: none;
	border: none;
	width: 320px;
	height: 55px;
	background: #111;
	color: #fff;
	font-size: 18px;
	letter-spacing: 1px;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.5s;
	transition-property: border-left, border-right, box-shadow;
}

.form .btn:hover{
	border-left: solid 10px rgba(255, 255, 255, 0.5);
	border-right: solid 10px rgba(255, 255, 255, 0.5);
	box-shadow: 0 0 100px #fff;
}

.form .options-02{
	color: #fff;
	font-size: 16px;
	margin-top: 30px;
	font-weight: bold;
	
}

.form .options-02 a{
	color: black;
}

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}


@media screen and (max-width: 500px){
	.form{
		width: 95%;
	}

	.form .user-input{
		width: 100%
	}

	.form .btn{
		width: 100%;
	}
}
